	<% if signed_in? %>
	  <div class="row">
	    <aside class="span4">
	      <section>
	        <%= render 'shared/user_info' %>
	      </section>
	      <section>
			<%= render 'shared/micropost_form' %>
	      </section>
	    </aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	  </div>  
	<% else %>
		<div class="center hero-unit">
			<h1>SocialWin Analytics</h1>
			<h2>
				Analiza tus redes sociales con nuestro método 
				<a href="http://www.socialwin.es/metodo-socialwin/metodo">SocialWin</a>.
			</h2>
			<%= link_to "Regístrate!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
		<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	<% end %>
